*{
  margin: 0;
  padding: 0;
}


.nav {
  list-style: none;
  margin-top: 20px;
 
}

.nav-el {
  display: inline;
  position: relative;
  right: 20px;
  margin-right: 5px;
  font-size: small;
}


.nav-header{
  margin-top: 20px;
}

.navbar-home{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #090979 35%, rgba(0,212,255,1) 100%);
  color: white;
  height: 12vh;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}




.img-upload-form-container {
  width: 50vw;
  margin: auto;
  margin-top: 70px;
}

.cover-img{
  width: auto;
  height: 200px
}

.products-container{
  width: 70vw;
}

.products-home-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-list{
  width: 300px;
  height: auto;
  overflow: hidden;
}

.details-product-image-container{
  width: 400px;
  height: 400px;
  border:1px solid black;
  margin-left: 10px
}

.details-product-cover-img{
  width: 400px;
  height: auto
}

.details-flex-container{
  display: flex;
  margin-top: 50px;
}

.product-details-container{
  margin-left: 40px;
}

.loading-bar{
  width:10vw;
  margin: auto;
  margin-top: 70px
}

.details-rating{
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: small;
}

.details-delete-bid{
  margin-left: 10px;
  margin-top: 10px;
}

.site-features{
  border-top: 2px solid rgb(228, 225, 225);
  margin-top: 10px;
  font-size: x-small;
}

.addProductForm-label {
   display: inline-block;
   width: 250px;
   text-align: right; 
   margin-right: 20px;
  }

.addProductForm-field{
  margin-top: 20px;
}

.addProduct-img-submit{
  margin-top: 20px;
  margin-left: 100px
}

.home-banner{
  width: 80vw;
  margin: auto;
}

.footer{
  background-color: #090979;
  color: white;
  height: 30vh;
}
